<section class="card follow-card">
    <header class="card-header">
        <h3 class="card-title">Who to follow</h3>
        <span class="separator">·</span>
        <a class="card-link" href="#">Refresh</a>
        <span class="separator">·</span>
        <a class="card-link" href="#">View all</a>
    </header>

    <ul class="card-section people">
        {% for suggestion in suggestions %}
            <li class="person">
                <img class="avatar" src="static/images/default-avatar.png" alt="{{suggestion.fullname}}">
                <div class="details">
                    <p class="name">{{suggestion.fullname}} <span class="username">@{{suggestion.username}}</span></p>
                    <button class="btn btn-outline btn-primary btn-small">Follow</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
