<section class="card follow-card">
    <header class="card-header">
        <h3 class="card-title">Who to follow</h3>
        <span class="separator">·</span>
        <a class="card-link" href="#">Refresh</a>
        <span class="separator">·</span>
        <a class="card-link" href="#">View all</a>
    </header>

    <ul class="card-section people">
        <li class="person">
            <img class="avatar" src="static/images/default-avatar.png" alt="First Suggestion">
            <div class="details">
                <p class="name">First Suggestion <span class="username">@firstsuggestion</span></p>
                <button class="btn btn-outline btn-primary btn-small">Follow</button>
            </div>
        </li>
        <li class="person">
            <img class="avatar" src="static/images/default-avatar.png" alt="Second Suggestion">
            <div class="details">
                <p class="name">Second Suggestion <span class="username">@secondsuggestion</span></p>
                <button class="btn btn-outline btn-primary btn-small">Follow</button>
            </div>
        </li>
        <li class="person">
            <img class="avatar" src="static/images/default-avatar.png" alt="Third Suggestion">
            <div class="details">
                <p class="name">Third Suggestion <span class="username">@thirdsuggestion</span></p>
                <button class="btn btn-outline btn-primary btn-small">Follow</button>
            </div>
        </li>
    </ul>
</section>
