<header id="site-header">
    <div class="wrapper">
        {% if user %}
            <nav class="header-nav">
                <a class="header-nav-item header-nav-item--selected" href="/">
                    <img src="static/images/home.svg" alt="Twitter Logo">
                    Home
                </a>
            </nav>

            <div class="user-actions dropdown js-dropdown">
                <img class="user-avatar js-dropdown-trigger" src="{{ user.avatar }}" alt="{{ user.username }}">
                <div class="dropdown-content js-dropdown-content">
                    <ul class="menu">
                        <li class="menu-item user-details">
                            <a href="#">
                                <h4>{{ user.fullname }}</h4>
                                <p>@{{ user.username }}</p>
                            </a>
                        </li>
                        <li class="menu-separator"></li>
                        <li class="menu-item"><a href="/logout">Log out</a></li>
                    </ul>
                </div>
            </div>
        {% else %}
            <nav class="header-nav">
                <a class="header-nav-item" href="/">
                    <img src="static/images/twitter.svg" alt="Twitter Logo">
                    Home
                </a>
            </nav>
        {% endif %}
    </div>
</header>
