<article class="tweet">
    <img class="tweet-avatar" src="{{ tweet.user.avatar }}" alt="{{ tweet.user.fullname }}">
    <div class="tweet-details">
        <header class="tweet-header">
            <h2 class="tweet-author">
                {{ tweet.user.fullname }}
                <span class="tweet-username">@{{ tweet.user.username }}</span>
            </h2>
            <span class="separator">·</span>
            <time class="tweet-timeago">{{ tweet.created_at }}</time>

            <div class="tweet-actions dropdown js-dropdown">
                <button class="tweet-actions-toggle dropdown-trigger js-dropdown-trigger"></button>
                <div class="dropdown-content dropdown-content--hidden js-dropdown-content">
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="/tweets/{{ tweet.id }}/?_method=DELETE">Delete Tweet</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="tweet-body">
            <pre>{{ tweet.body }}</pre>
        </main>
    </div>
</article>
