<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Twitter Clone{% endblock %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600">
        <link rel="stylesheet" href="static/stylesheets/abstracts/variables.css">
        <link rel="stylesheet" href="static/stylesheets/base/reset.css">
        <link rel="stylesheet" href="static/stylesheets/base/base.css">
        <link rel="stylesheet" href="static/stylesheets/base/utilities.css">
        <link rel="stylesheet" href="static/stylesheets/components/dropdowns.css">
        <link rel="stylesheet" href="static/stylesheets/components/menus.css">
        <link rel="stylesheet" href="static/stylesheets/layout/header.css">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block contents %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
