{% extends '_base.html' %}

{% block title %}Twitter Clone{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="static/stylesheets/layout/page.css">
    <link rel="stylesheet" href="static/stylesheets/components/cards/cards.css">
    <link rel="stylesheet" href="static/stylesheets/components/cards/follow-card.css">
    <link rel="stylesheet" href="static/stylesheets/components/cards/profile-card.css">
    <link rel="stylesheet" href="static/stylesheets/components/stats.css">
    <link rel="stylesheet" href="static/stylesheets/components/tweetbox.css">
    <link rel="stylesheet" href="static/stylesheets/components/tweets.css">
    <link rel="stylesheet" href="static/stylesheets/pages/feed.css">
{% endblock %}

{% block contents %}
    {% include 'partials/header.html' %}

    <div class="wrapper page-container">
        <aside class="sidebar">
            {% include 'partials/profile-card.html' %}
        </aside>

        <main class="content">
            {% include 'partials/tweetbox.html' %}

            {% for tweet in tweets %}
                <article class="tweet">
                    <img class="tweet-avatar" src="{{ tweet.user.avatar }}" alt="{{ tweet.user.fullname }}">
                    <div class="tweet-details">
                        <header class="tweet-header">
                            <h2 class="tweet-author">
                                {{ tweet.user.fullname }}
                                <span class="tweet-username">@{{ tweet.user.username }}</span>
                            </h2>
                            <span class="separator">·</span>
                            <time class="tweet-timeago">{{ tweet.created_at }}</time>
                        </header>
                        <main class="tweet-body">
                            <pre>{{ tweet.body }}</pre>
                        </main>
                    </div>
                </article>
                {% endfor %}
        </main>

        <aside class="sidebar">
            {% include 'partials/follow-card.html' %}
        </aside>
    </div>
{% endblock %}
