{% extends '_base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="static/stylesheets/components/buttons.css">
    <link rel="stylesheet" href="static/stylesheets/components/forms.css">
    <link rel="stylesheet" href="static/stylesheets/pages/landing.css">
{% endblock %}

{% block contents %}
    {% include 'partials/header.html' %}

    <main class="wrapper">
        <div class="welcome-text">
            <h1>Welcome to Twitter Clone.</h1>

            <p>
                Connect with your friends - and other fascinating people. Get in-the-moment
                updates on the things that interest you. And watch events unfold, in real time,
                from every angle.
            </p>
        </div>

        <div class="auth-forms">
            <form class="auth-form login-form" action="#" method="post">
                <main class="form-body">
                    <div class="field">
                        <input type="text" name="identifier" placeholder="Email or username">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password">
                        <button class="btn btn-outline btn-primary">Log in</button>
                    </div>
                    <footer class="actions">
                        <label class="checkbox-label">
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                        <span class="separator">·</span>
                        <a href="#">Forgot password?</a>
                    </footer>
                </main>
            </form>

            <form class="auth-form signup-form" action="#" method="post">
                <header class="form-header">
                    <h3 class="form-title">New to Twitter? <span>Sign up</span></h3>
                </header>

                <main class="form-body">
                    <div class="field">
                        <input type="text" name="fullname" placeholder="Full name">
                    </div>
                    <div class="field">
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <footer class="actions">
                        <button class="btn btn-primary">Sign up for Twitter</button>
                    </footer>
                </main>
            </form>
        </div>
    </main>
{% endblock %}
