.btn {
    display: inline-block;
    padding: 0 1.6rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--primary-text-color);
    background-color: var(--gray-1);
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--primary-color-dark);
}

.btn-outline {
    border: 1px solid var(--gray-2);
    background-color: transparent;
}

.btn-outline:hover,
.btn-outline:focus {
    background-color: var(--primary-color-light);
}

.btn-outline.btn-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline.btn-primary:active {
    border-color: var(--primary-color-dark);
    color: #fff;
    background-color: var(--primary-color-dark);
}


/** Button sizes variations **/

.btn-small {
    line-height: 2.4rem;
}


/** Buttons inside forms **/

.field .btn {
    flex-shrink: 0;
}

.actions .btn {
    margin-left: auto;
}
