.dropdown {
    position: relative;
}

.dropdown-trigger {
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    border: 1px solid var(--gray-2);
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 2px var(--gray-2);
}

.dropdown-content--hidden {
    display: none;
}

.dropdown-content::before {
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    border-top: 1px solid var(--gray-2);
    border-left: 1px solid var(--gray-2);
    background-color: #fff;

    position: absolute;
    top: -0.9rem;

    transform-origin: center center;
    transform: rotate(45deg);
}


/** Header user actions dropdown **/

#site-header .user-actions .dropdown-content {
    width: 20rem;
    top: calc(100% + 10px);
    right: -0.5rem;
}

#site-header .user-actions .dropdown-content::before {
    right: 1.2rem;
}


/** Tweet actions dropdown **/

.tweet-actions .dropdown-content {
    width: 20rem;
    top: 2.4rem;
    left: -1.8rem;
}

.tweet-actions .dropdown-content::before {
    left: 1.2rem;
}
