body {
    background: var(--body-background-color) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../../images/background.jpg");
}

#site-header {
    border-bottom-color: rgba(0, 0, 0, 0.65);
}

main.wrapper {
    display: flex;
    width: 80rem;
    padding-top: 8rem;
}

.welcome-text {
    flex-grow: 1;
    margin-right: 8rem;
}

.auth-forms {
    flex-shrink: 0;
    width: 30rem;
}
